# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: Numbers are an object type in Python. There are two types of numbers: integers (ex 5,6,100,5648454847) and flotating points (ex 5.6,8.6)

Strings: Strings are the basic text type in Python. The can be assigned with "" or ''. Everything inside these quotation marks are strings(ex 'hello world','2', 'five').

Lists: Lists are an object type in python that can gather differents types of object in a single one. It is envolved by []. the items inside are separated by commas (ex list1 = [5,7,'eight']). It is muttable, which means that it is posible to assign new values to the items, example list1[0] = 19. If you print the list -> list1 = [19,7,'eight']

Tuples: Tuples are similiar to lists, however it uses parenthesis instead the square brackets. It is immuttable. ex tuple1 = (0,1,'seven')

Dictionaries: Dictionaries are another way to store values. It uses the following structure -> dict = {'key1':key1Value, 'key2':key2Value}. ex dict1 = {'war':'is no good', 'age':25, 'rap':true}. It is unordered

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [2]:
(10**2) + ((1-1)*4) + (1/4)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5  = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [4]:
4 * (6 + 5)

44

In [5]:
4 * 6 + 5

29

In [6]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [73]:
type(3+1.5+4)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [76]:
# Square root: number ** 0.5
100 ** 0.5

10.0

In [8]:
# Square:number*number
3*3

9

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [9]:
s = 'hello'
s[1]

'e'

Reverse the string 'hello' using slicing:

In [10]:
s ='hello'
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [77]:
s ='hello'
# Print out the 'o'
s.strip('hell')

'o'

In [78]:
# Method 2:
s[4]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [81]:
# Method 1:
list1 = [0]
list1.append(0)
list1.append(0)
list1

[0, 0, 0]

In [83]:
# Method 2:
list2 = []
list2.insert(len(list2),0)
list2.insert(len(list2),0)
list2.insert(len(list2),0)
list2

[0, 0, 0]

In [84]:
# Method 3:
[0]*3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [86]:
#Method 1 
list3 = [1,2,[3,4,'hello']]
list3[-1][-1] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

In [88]:
#Method 2
list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [79]:
#Method 1
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

In [80]:
#Method 2
sorted(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [98]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [100]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [105]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

d['k1'][0]['nest_key'][1][0]

'hello'

In [109]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Q:Can you sort a dictionary? Why or why not?<br><br>
<b>A:No, beacuse normal dictionaries are mappings not a sequence</b>

## Tuples

Q:What is the major difference between tuples and lists?<br><br>
<b>A:It's possible to reasign any value inside a list(Muttability). You cannot do that in tuples</b>

Q:How do you create a tuple?<br><br>
<b>A: Just use -> t = (0,'one',4)</b>

## Sets

Q:What is unique about a set?<br><br>
<b>A:Sets only uses uniques values. This means that does not repeat any value.</b>

Use a set to find the unique values of the list below:

In [112]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [67]:
# Answer before running cell: False
2 > 3

False

In [68]:
# Answer before running cell: False
3 <= 2

False

In [69]:
# Answer before running cell: False
3 == 2.0

False

In [70]:
# Answer before running cell: True
3.0 == 3

True

In [71]:
# Answer before running cell: False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [72]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False? 3 >= 4: False
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!