In [4]:
#Lecture 34 - For Loops in Python

In [6]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [9]:
for blablabla in mylist:
    print(blablabla)

1
2
3
4
5
6
7
8
9
10

In [11]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [14]:
for num in mylist:
    if num % 2 == 0:
        print(f'Even Number: {num}')
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

In [15]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [17]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [19]:
mystring = 'Hello World!'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d
!

In [21]:
for letter in  'Hello World!':
    print(letter)

H
e
l
l
o

W
o
r
l
d
!

In [24]:
for _ in 'iajsidajidajiudhadi':
    print('teste!')

teste!
teste!
teste!
teste!
teste!
teste!
teste!
teste!
teste!
teste!
teste!
teste!
teste!
teste!
teste!
teste!
teste!
teste!
teste!

In [23]:
for _ in 'Hello World!':
    print(_)

H
e
l
l
o

W
o
r
l
d
!

In [25]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [27]:
#tuple unpacking

In [28]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [29]:
len(mylist)

4

In [31]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [38]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [39]:
for (a,b,c) in mylist:
    print(a)

ValueError: not enough values to unpack (expected 3, got 2)

In [40]:
mylist1 = [(1,2,3),(4,5,6),(7,8,9)]

In [43]:
for (a,b,c) in mylist1:
    print(c)
    print(b)
    print(a)

3
2
1
6
5
4
9
8
7

In [44]:
#dictionaries

In [51]:
d = {'k1':1, 'k2':2,'k3':3}
for value in d:
    print(value)

k1
k2
k3

In [49]:
d = {'k1':1, 'k2':2,'k3':3}
for value in d.items():
    print(value)

('k1', 1)
('k2', 2)
('k3', 3)

In [52]:
d = {'k1':1, 'k2':2, 'k3':3}
for key,value in d.items():
    print(value)

1
2
3

In [56]:
d = {'k1':1, 'k2':2, 'k3':3}
for key in d:
    print(d.items())

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])
dict_items([('k1', 1), ('k2', 2), ('k3', 3)])
dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [59]:
d = {'k1':1, 'k2':2, 'k3':3}
for value in d.values():
    print(value)

1
2
3

In [11]:
#Lecture 35 - While loops

In [8]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X IS NOT LESS THAN 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

Remember these words:

    break: Breaks out of the current closest enclosing loop
    continue: goes to the top of the closest enclosing loop
    pass: does nothing at

In [46]:
x = [1,2,3]

for item in x:
    #comment

SyntaxError: unexpected EOF while parsing (<ipython-input-46-f9f8cc271a57>, line 4)

TIP: EOL means end of file. In this case, if we don't know what to write below the for line, we use the 'pass' keyword. 

That way, there wont be any mistake

In [51]:
x = [1,2,3]

for item in x:
    #comment
    pass

print('end of my script')

end of my script

In [55]:
mystring = "Sammy"

for letter in mystring:
    if letter =='a':
        continue #this will make the program go back to the 'for' loop, which is the closest enclosing loop.
    print(letter)

S
m
m
y

In [57]:
mystring = "Sammy"

for letter in mystring:
    if letter =='a':
        break
    print(letter)

S

In [60]:
x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x+=1

0
1

## Lecture 36 - Useful Operators in Python

In [61]:
mylist = [1,2,3]

In [68]:
for num in range(0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [70]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [74]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [76]:
index_count = 0

for letter in'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [78]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count +=1

a
b
c
d
e

In [86]:
word = 'abcde'

for item in enumerate(word):
    print(item)
    #This will return a tuple, we'll have to make a tuple unpacking. It's in the next cell.

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [88]:
word = 'abcde'

for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')
    #tuple unpacking

0
a


1
b


2
c


3
d


4
e

In [93]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [96]:
for item in zip(mylist1, mylist2):
    print(item)
    #this is the the reverse of tuple unpacking

(1, 'a')
(2, 'b')
(3, 'c')

In [98]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [102]:
for a,b in zip(mylist1, mylist2):
    print(b)

a
b
c

In [104]:
'x' in [1,2,3]

False

In [106]:
'x' in ['x','y','z']

True

In [108]:
'a' in 'a world'

True

In [112]:
'mykey' in {"mykey": 345}

True

In [114]:
d = {"mykey": 345}

345 in d.keys()

False

In [118]:
d = {"mykey": 345}

345 in d.values()

True

In [119]:
345 in {"mykey": 345}.values()

True

In [120]:
mylist = [10,20,30,40,100]

In [121]:
min(mylist)

10

In [122]:
max(mylist)

100

In [124]:
from random import shuffle

In [125]:
mylist = [1,2,3,4,5,6,7,8,9]

In [131]:
shuffle(mylist) #does not return anything
#so if you try:
thisList = shuffle(mylist)
#it wont work

In [133]:
thisList

In [134]:
type(thisList)

NoneType

In [129]:
mylist

[5, 1, 7, 2, 8, 6, 4, 3, 9]

In [136]:
from random import randint

In [138]:
randint(0,100)

74

In [139]:
randint(0,100)

68

In [147]:
mynum = randint(0,100)

In [148]:
mynum

18

In [1]:
input("Type a number here: ")

Type a number here: 45

'45'

In [3]:
name = input("What's your name? ")

What's your name? Kaique

In [4]:
name

'Kaique'

In [5]:
result = input('Favorite Number: ')

Favorite Number: 50

In [6]:
result

'50'

In [7]:
type(result)

str

In [8]:
int(result)

50

In [9]:
type(result)

str

In [10]:
float(result)

50.0

In [11]:
result

'50'

In [12]:
result = int(input('Favorite Number: '))

Favorite Number: 50

In [13]:
result

50

In [14]:
type(result)

int

## Lecture 37 = List Comprehensions in Python

In [16]:
mystring = 'hello'

In [17]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [19]:
mylist

['h', 'e', 'l', 'l', 'o']

In [20]:
mylist = [letter for letter in mystring]

In [21]:
mylist

['h', 'e', 'l', 'l', 'o']

In [26]:
mylist = [x for x in 'world']
print(mylist)

['w', 'o', 'r', 'l', 'd']

In [28]:
mylist = [doido for doido in 'world']
mylist

['w', 'o', 'r', 'l', 'd']

In [30]:
mylist = [num for num in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
mylist = [x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [33]:
mylist = [x**2 for x in range(0,11) if x%2==0]
mylist

[0, 4, 16, 36, 64, 100]

In [35]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [37]:
fahrenheit  = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)
    
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [40]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]#the if order is different from the In[33]. This happens with the if/else
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [44]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)

In [45]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [46]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]