In [1]:
a = 5

In [2]:
a

5

In [3]:
a = 10

In [4]:
a

10

In [5]:
a + a

20

In [6]:
a

10

In [11]:
a = a + a

In [8]:
a

20

In [12]:
a

80

In [13]:
type(a)

int

In [14]:
a = 30.1

In [15]:
type(a)

float

In [16]:
int = 4

In [17]:
int

4

In [1]:
int

int

In [2]:
a

NameError: name 'a' is not defined

In [ ]:

NameError: name 'a' is not defined

In [4]:
a

5

In [6]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [7]:
my_taxes

10.0

In [2]:
"i'dont know"

"i'dont know"

In [3]:
'hello'

'hello'

In [4]:
print("hello")

hello

In [5]:
print(hello)

NameError: name 'hello' is not defined

In [8]:
print("hello \t world")

hello 	 world

In [9]:
le("hello")

NameError: name 'le' is not defined

In [10]:
len("hello")

5

In [11]:
len("hell o")

6

In [12]:
mystring = "Hello World"

In [13]:
mystring

'Hello World'

In [14]:
mystring[0]

'H'

In [15]:
mystring[-2]

'l'

In [16]:
mystring = "abcdefghijk"

In [17]:
mystring[0:3]

'abc'

In [18]:
mystring[3:-3]

'defgh'

In [19]:
mystring[::3]

'adgj'

In [20]:
mystring[::2]

'acegik'

In [21]:
mystring[::-1]

'kjihgfedcba'

In [22]:
mystring[::-2]

'kigeca'

In [24]:
mystring[::1]

'abcdefghijk'

In [27]:
'tinker'[-5:-2]

'ink'

In [28]:
name = "Sam"

In [29]:
name

'Sam'

In [30]:
last_letters = name[1::]

In [31]:
last_letters

'am'

In [32]:
'P' + last_letters

'Pam'

In [33]:
name2 = 'P' + last_letters

In [34]:
name2

'Pam'

In [45]:
x = "hello world"

In [36]:
x.upper()

'HELLO WORLD'

In [37]:
x.upper

In [38]:
x = x.upper()

In [39]:
x

'HELLO WORLD'

In [44]:
x = x.lower()

AttributeError: 'builtin_function_or_method' object has no attribute 'lower'

In [41]:
x = x.lower

In [42]:
x

In [43]:
x = x.lower()

AttributeError: 'builtin_function_or_method' object has no attribute 'lower'

In [46]:
x

'hello world'

In [47]:
x.split()

['hello', 'world']

In [48]:
x.split

In [49]:
x.split()

['hello', 'world']

In [50]:
x = 'this is a string'

In [51]:
x.split()

['this', 'is', 'a', 'string']

In [52]:
x.split('i')

['th', 's ', 's a str', 'ng']

In [53]:
print("This is a string {}".format("INSERTED"))

This is a string INSERTED

In [62]:
print("The {0} {0} {0}".format('fox', 'brown', 'quick'))

The fox fox fox

In [63]:
print("The {q} {b} {f}".format(f= 'fox', b='brown', q= 'quick'))

The quick brown fox

In [64]:
result = 100/777

In [73]:
result = 104.1234567

In [75]:
print('The result is {r:1.2f}'.format(r=result))

The result is 104.12

In [82]:
name = 'kaique'
age = 25

In [90]:
print(f'{name.title()} is {age} years old')

Kaique is 25 years old

In [1]:
my_list[1,2,3.4,5]

NameError: name 'my_list' is not defined

In [5]:
my_list = [1,2,3.4,5]

In [3]:
my_list = [1,2]

In [4]:
len(my_list)

2

In [6]:
my_list

[1, 2, 3.4, 5]

In [19]:
my_list = my_list + my_list

In [12]:
my_list

[1, 2, 3.4, 5, 1, 2, 3.4, 5]

In [13]:
my_list.sort()

In [14]:
my_list

[1, 1, 2, 2, 3.4, 3.4, 5, 5]

In [15]:
my_list.reverse()

In [16]:
my_list

[5, 5, 3.4, 3.4, 2, 2, 1, 1]

In [8]:
my_list

[1, 2, 3.4, 5]

In [9]:
my_list[1::]

[2, 3.4, 5]

In [10]:
my_list[:1:]

[1]

In [18]:
my_list

[5, 5, 3.4, 3.4, 2, 2, 1, 1, 5, 5, 3.4, 3.4, 2, 2, 1, 1]

In [20]:
my_list.pop(1)

5

In [21]:
my_list

[5,
 3.4,
 3.4,
 2,
 2,
 1,
 1,
 5,
 5,
 3.4,
 3.4,
 2,
 2,
 1,
 1,
 5,
 5,
 3.4,
 3.4,
 2,
 2,
 1,
 1,
 5,
 5,
 3.4,
 3.4,
 2,
 2,
 1,
 1]

In [22]:
my_list.sort()

In [23]:
my_list()

TypeError: 'list' object is not callable

In [24]:
my_list

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 5,
 5,
 5,
 5,
 5,
 5,
 5]

In [25]:
my_list.append("six")

In [26]:
my_list

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 'six']

In [27]:
my_list.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [28]:
my_list.pop(-1)

'six'

In [29]:
my.list.sort()

NameError: name 'my' is not defined

In [30]:
my_list.sort()

In [31]:
my_list

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 5,
 5,
 5,
 5,
 5,
 5,
 5]

In [32]:
my_list.reverse()

In [33]:
my_list

[5,
 5,
 5,
 5,
 5,
 5,
 5,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [34]:
my_list[0] = 'five'

In [35]:
my_list

['five',
 5,
 5,
 5,
 5,
 5,
 5,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [43]:
my_list = [1,1,[2,3]]

In [44]:
my_list[2]

[2, 3]

In [45]:
my_list[2][0]

2

In [46]:
my_list[2][5]

IndexError: list index out of range

In [47]:
my_list[2][1]

3

In [41]:
my_list

[1, 1, [1, 2]]

In [42]:
my_list[2]

[1, 2]

In [37]:
my_list

[1, 1, [1.2]]

In [38]:
my_list[1]

1

In [39]:
my_list[2]

[1.2]

In [49]:
new_lecture = "DICTIONARIES"

In [50]:
my_dict = {'key1': 'value1', 'key2': 'value1'}

In [51]:
key1

NameError: name 'key1' is not defined

In [53]:
my_dict[1]

KeyError: 1

In [54]:
my_dict[key1]

NameError: name 'key1' is not defined

In [55]:
my_dict['key1']

'value1'

In [56]:
prices_lookup = ['apple':2.99,'orange':3.56]

SyntaxError: invalid syntax (<ipython-input-56-4cdbf7e95d09>, line 1)

In [57]:
prices_lookup = {'apple':2.99, 'orange': 1.99,'milk':5.80}

In [58]:
prices_lookup['apple']

2.99

In [64]:
d = {'k1':123, 'k2':[10,11,12], 'k3':{'insideKey':100}}

In [60]:
d['k3']

{'insideKey': 100}

In [61]:
d['k3']['insideKey']

100

In [62]:
d['k2']

[0, 1, 2]

In [65]:
d['k2'][1]

11

In [66]:
d['k2'][2]

12

In [74]:
d = {'key1':['a','b','c','d']}

In [68]:
d

{'key1': ['a', 'b', 'c', 'd']}

In [69]:
d['key1'][3]

'd'

In [70]:
d['key1'][3].upper

In [71]:
d['key'][3].upper()

KeyError: 'key'

In [75]:
d['key1'][3].upper()

'D'

In [76]:
d1 = {'k1':100, 'k2':200, 'k3':700}

In [77]:
d

{'key1': ['a', 'b', 'c', 'd']}

In [78]:
d1

{'k1': 100, 'k2': 200, 'k3': 700}

In [79]:
d1['jeeee':980]

TypeError: unhashable type: 'slice'

In [84]:
d1['k1.5'] = 980

In [85]:
d1

{'jeee': 980, 'k1': 100, 'k1.5': 980, 'k2': 200, 'k3': 700, 'wwweee': 980}

In [86]:
d1.keys()

dict_keys(['k1', 'k2', 'k3', 'jeee', 'wwweee', 'k1.5'])

In [87]:
d1.values()

dict_values([100, 200, 700, 980, 980, 980])

In [88]:
d1.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 700), ('jeee', 980), ('wwweee', 980), ('k1.5', 980)])

In [ ]:
9

In [83]:
d1

{'jeee': 980, 'k1': 100, 'k2': 200, 'k3': 700, 'wwweee': 980}

In [81]:
d1

{'jeee': 980, 'k1': 100, 'k2': 200, 'k3': 700}

In [90]:
new_lecture = "TUPLES"

In [91]:
t = ('a',10,50.5)

In [92]:
mlist = ['a',10,50.5]

In [93]:
mlist[0] = 15

In [94]:
mlist

[15, 10, 50.5]

In [95]:
t[0]

'a'

In [96]:
t[0] = 15

TypeError: 'tuple' object does not support item assignment

In [97]:
t.count('10')

0

In [98]:
t.count(10)

1

In [99]:
t.count(1)

0

In [100]:
t.index(50.5)

2

In [101]:
new_lecture = "SETS"

In [102]:
my_set = set()

In [103]:
my_set

set()

In [104]:
my_set.add(0)

In [105]:
my_set

{0}

In [106]:
my_set.add('war')

In [107]:
my_set

{0, 'war'}

In [108]:
my_set.add('war')

In [109]:
my_set

{0, 'war'}

In [110]:
mlist = [0,0,0,0,0,0,0,0,0, 'war','war','war','war','war','war',3,3,3,3,3,2,2,2,2,2,]

In [111]:
set(mlist)

{0, 2, 3, 'war'}

In [112]:
mlist = [0,0,0,0,0,0,0,0,0, 'war','war','war','war','war','war',3,3,3,3,3,2,2,2,2,2,4,4,4,4,50,50,50,50]

In [113]:
set(mlist)

{0, 2, 3, 4, 50, 'war'}

In [114]:
set('Mississipi')

{'M', 'i', 'p', 's'}

In [115]:
new_lecture = "BOOLEANS"

In [116]:
True

True

In [117]:
true

NameError: name 'true' is not defined

In [118]:
False

False

In [119]:
false

NameError: name 'false' is not defined

In [120]:
True & False

False

In [121]:
True & True

True

In [122]:
1 > 2

False

In [123]:
1 == 2

False

In [124]:
1 == 2

False

In [125]:
b

NameError: name 'b' is not defined

In [126]:
b = None

In [127]:
b