# Introduction to Python Data Types

## Numbers

We have two types of numbers in Python: intergers and floating points

In [1]:
1*2

2

In [7]:
3/2

1.5

In [8]:
7/4

1.75

#### Modulo or "Mod" Operator

In [6]:
7%4

3

In [9]:
20%2

0

///////////////////

In [10]:
2 **3

8

In [11]:
(2+10)*(10+3)

156

## Variable Assignments

Python uses Dynamic Typing, which means you can reassign variables to different data types

In [12]:
a = 5

In [13]:
a

5

In [14]:
a = 10

In [15]:
a

10

In [16]:
a+a

20

In [21]:
a=a+a

In [23]:
a

80

In [24]:
type(a)

int

In [26]:
a=30.1

In [27]:
type(a)

float

In [28]:
my_income = 100
tax_rate = 0.1

my_taxes = my_income * tax_rate

In [29]:
my_taxes

10.0

## Strings

You can use "" or ''

The strings are ordered sequences. So, you can use indexing and slicing.
The first index is 0. And you can use the Reverse Index:
Character:     h  e  l  l  o
Index:         0  1  2  3  4
Reverse Index: 0 -4 -3 -2 -1

Slicing allows to grab a slice of the string:

[start:stop:steá¹•]

Don't forget that "stop" is the index you go up to(BUT NOT INCLUDE)

In [31]:
'Hello'

'Hello'

In [32]:
"world"

'world'

In [33]:
'this is also a string'

'this is also a string'

In [34]:
 "I'm going on a run"

"I'm going on a run"

In [35]:
print('hello')

hello

In [36]:
"hello world one"
"hello world two"

'hello world two'

In [38]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [40]:
print("hello \nworld")

hello
world

In [41]:
print("hello \tworld")

hello 	world

In [42]:
len("hello")

5

In [43]:
len('I am')

4

In [44]:
mystring = "Hello World"

In [45]:
mystring

'Hello World'

In [46]:
mystring[0]

'H'

In [47]:
mystring[8]

'r'

In [48]:
mystring[9]

'l'

In [50]:
mystring[-3]

'r'

In [51]:
mystring[-1]

'd'

In [52]:
mystring = 'abcdefghijk'

In [53]:
mystring[2]

'c'

In [54]:
mystring[2:]

'cdefghijk'

In [55]:
mystring[:3]

'abc'

In [56]:
mystring[3:6]

'def'

In [57]:
mystring[1:3]

'bc'

In [58]:
mystring[::]

'abcdefghijk'

In [59]:
mystring[::2]

'acegik'

In [60]:
mystring[2::2]

'cegik'

In [61]:
mystring[2:7:2]

'ceg'

In [62]:
mystring[::-1]

'kjihgfedcba'

## String Properties and Methods

### Immutability

In [63]:
name ='Sam'

In [65]:
name[0] = 'p'

TypeError: 'str' object does not support item assignment

In [67]:
last_letters = name[1:]

In [68]:
'P' + last_letters

'Pam'

In [75]:
x = 'Hello World'

In [77]:
x = x + ' it is beautiful outside!'

In [78]:
x

'Hello World it is beautiful outside!'

In [79]:
letter = 'z'

In [80]:
letter*10

'zzzzzzzzzz'

In [81]:
2+3

5

In [82]:
'2' + '3'

'23'

In [83]:
x = 'Hello World'

In [84]:
x.upper()

'HELLO WORLD'

In [85]:
x

'Hello World'

In [86]:
x = x.upper()

In [87]:
x

'HELLO WORLD'

In [88]:
x.lower()

'hello world'

In [89]:
x.split()

['HELLO', 'WORLD']

In [90]:
x = 'This is a string'

In [91]:
x.split()

['This', 'is', 'a', 'string']

In [92]:
x.split('i')

['Th', 's ', 's a str', 'ng']

In [93]:
x.split('udhauduasgao')

['This is a string']

In [94]:
print('hello')

hello

In [95]:
#This is a comment! Strings are not mutable

## Print Formatting with Strings

#### Formatting with the .format() method

In [96]:
print('This is a string {}'.format('Inserted'))

This is a string Inserted

In [97]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [98]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [99]:
print('The {0} {0} {0}'.format('fox','brown','quick'))

The fox fox fox

In [100]:
print('The {} {2} {}'.format('fox','brown','quick'))

ValueError: cannot switch from automatic field numbering to manual field specification

In [101]:
print('The {f} {q} {b}'.format(f='fox',b='brown',q='quick'))

The fox quick brown

In [103]:
print('The {f} {f} {b}'.format(f='fox',b='brown',q='quick'))

The fox fox brown

#### Float formatting follows "{value:width.precision f}"

In [104]:
result=100/777

In [105]:
result

0.1287001287001287

In [106]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [108]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [109]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [110]:
print("The result was {r:10.3f}".format(r=result))

The result was      0.129

In [111]:
print("The result was {r:-10.3f}".format(r=result))

The result was      0.129

In [112]:
result = 104.123456

In [113]:
print("The result was {r:1.2f}".format(r=result))

The result was 104.12

In [114]:
name = 'Kaique'

In [115]:
print(f'Hello, his name is {namee}')

NameError: name 'namee' is not defined

In [116]:
print(f'Hello, his name is {name}')

Hello, his name is Kaique

In [120]:
age = 25

In [121]:
print(f'{name} is {age} years old.')

Kaique is 25 years old.

### Lists

In [1]:
mylist=[1,23]

In [2]:
my_list = ['STRING', 100,23.2]

In [3]:
len(my_list)

3

In [4]:
mylist = ['one','two','three']

In [5]:
mylist

['one', 'two', 'three']

In [6]:
mylist[0]

'one'

In [7]:
mylist[1:]

['two', 'three']

In [8]:
another_list = ['four', 'five']

In [9]:
 new_list = mylist + another_list

In [10]:
new_list

['one', 'two', 'three', 'four', 'five']

In [11]:
new_list[0] = 'ONE ALL CAPS'

In [12]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [13]:
new_list.append('six')

In [14]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [15]:
new_list.append('seven')

In [16]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [17]:
new_list.pop()

'seven'

In [18]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [19]:
popped_item = new_list.pop()

In [20]:
popped_item

'six'

In [21]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [22]:
new_list.pop(0)

'ONE ALL CAPS'

In [23]:
new_list

['two', 'three', 'four', 'five']

In [25]:
new_list = ['a', 'e', 'j','h']
num_list = [4,1,8,3]

In [26]:
new_list.sort()

In [27]:
new_list

['a', 'e', 'h', 'j']

In [28]:
my_sorted_list = new_list.sort()

In [29]:
my_sorted_list

In [30]:
type(my_sorted_list)

NoneType

In [31]:
 num_list.sort()

In [32]:
num_list

[1, 3, 4, 8]

In [33]:
num_list.reverse()

In [34]:
num_list

[8, 4, 3, 1]

### Dictionaries 

Dictionaries are objects retrieved by key name. They are unordered and can not be sorted.

You don't have to know the index of the element. Just the key name

In [37]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [38]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [39]:
my_dict['key1']

'value1'

In [40]:
prices_lookup = {'apple':2.99, 'oranges': 1.99,'milk':5.80}

In [41]:
prices_lookup['apple']

2.99

In [52]:
d = {'k1': 123, 'k2': [1,2,3,4,5], 'k3':{'insideKey':100}}

In [53]:
d

{'k1': 123, 'k2': [1, 2, 3, 4, 5], 'k3': {'insideKey': 100}}

In [54]:
d['k2'][2]

3

In [ ]:
d['k2'][2]

In [49]:
d['k3']

{'insideKey': 100}

In [50]:
d['k3']['insideKey']

100

In [55]:
d = {'key1':['a','b','c']}

In [56]:
d

{'key1': ['a', 'b', 'c']}

In [57]:
mylist = d['key1']

In [58]:
mylist

['a', 'b', 'c']

In [59]:
letter = mylist[2]

In [60]:
letter

'c'

In [61]:
letter.upper()

'C'

In [62]:
d['key1'][2].upper()

'C'

In [63]:
d = {'k1':100, 'k2':200}

In [64]:
d

{'k1': 100, 'k2': 200}

In [65]:
d['k3'] = 300

In [66]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [67]:
d['k1'] = 'New value'

In [68]:
d

{'k1': 'New value', 'k2': 200, 'k3': 300}

In [69]:
 d = {'k1': 100, 'k2': 200, 'k3': 300}

In [70]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [71]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [72]:
d.values()

dict_values([100, 200, 300])

In [73]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

### Tuples 

Tuples are like lists, but they have immutability.

In [74]:
t = (1,2,3)

In [75]:
mylist = [1,2,3]

In [76]:
type(t)

tuple

In [77]:
type(mylist)

list

In [78]:
len(t)

3

In [79]:
t

(1, 2, 3)

In [80]:
t = ('one', 2)

In [81]:
t[0]

'one'

In [82]:
t[-1]

2

In [83]:
t = ('a','a','b')

In [84]:
t.count('a')

2

In [85]:
t.index('a')

0

In [87]:
t.index('b')

2

In [88]:
t

('a', 'a', 'b')

In [89]:
mylist

[1, 2, 3]

In [90]:
mylist[0] = 'new'

In [91]:
mylist

['new', 2, 3]

In [92]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

### Sets

Unordered collections of unique elements

In [93]:
myset = set()

In [94]:
myset

set()

In [95]:
myset.add(1)

In [96]:
myset

{1}

In [97]:
myset.add(2)

In [98]:
myset

{1, 2}

In [99]:
myset.add(2)

In [100]:
myset

{1, 2}

In [101]:
mylist = [1,1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,3]

In [102]:
set(mylist)

{1, 2, 3}

### Booleans

In [103]:
True

True

In [104]:
true

NameError: name 'true' is not defined

In [105]:
False

False

In [106]:
type(True)

bool

In [107]:
1 > 2

False

In [108]:
1 == 1

True

In [110]:
b

NameError: name 'b' is not defined

In [111]:
b = None

### I/O with Basic Files in Python

In [112]:
%%writefile filein06-11.txt

Hey this file was created in 11/06/2018
awesome!
And it was created using the Jupyter Notebook

Writing filein06-11.txt

In [114]:
filein06 = open('filein06-11.txt')

In [115]:
myfile = open('uauahuahau.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'uauahuahau.txt'

In [116]:
pwd

'/home/xavito/Desktop/TI/Udemy/Complete Python 3 Bootcamp/Minhas anotaÃ§Ãµes (notebooks)/Section 03 - Python Data Structures and Data Types Basics'

In [117]:
myfile = open('filein06-11.txt')

In [118]:
myfile.read()

'\nHey this file was created in 11/06/2018\nawesome!\nAnd it was created using the Jupyter Notebook'

In [119]:
myfile.read()

''

In [120]:
myfile.seek(0)

0

In [122]:
myfile.read()

'\nHey this file was created in 11/06/2018\nawesome!\nAnd it was created using the Jupyter Notebook'

In [123]:
myfile

In [124]:
myfile.read()

''

In [125]:
contents = myfile.read()

In [126]:
contents

''

In [128]:
myfile.seek(0)

0

In [129]:
contents

''

In [130]:
contents = myfile.read()

In [131]:
contents

'\nHey this file was created in 11/06/2018\nawesome!\nAnd it was created using the Jupyter Notebook'

In [132]:
contents

'\nHey this file was created in 11/06/2018\nawesome!\nAnd it was created using the Jupyter Notebook'

In [133]:
myfile.readlines()

[]

In [134]:
myfile.seek(0)

0

In [135]:
myfile.readlines()

['\n',
 'Hey this file was created in 11/06/2018\n',
 'awesome!\n',
 'And it was created using the Jupyter Notebook']