# Python Statements

#    33 - If, Elif and Else Statements in Pythons

In [2]:
if 3>2:
    print("true")

true

In [3]:
hungry = True

if hungry:
    print('Feed Me')

Feed Me

In [5]:
hungry = False

if hungry:
    print('Feed Me')
    
else:
    print("Im not hungry")

Im not hungry

In [6]:
hungry = True

if hungry:
    print('Feed Me')
    
else:
    print("Im not hungry")

Feed Me

In [8]:
loc = 'Game'

if loc == 'Auto Shop':
    print("Cars are cool")
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much')

I do not know much

In [11]:
name = 'Frankie'

if name == 'Frankie':
    print('Hello Frankie')
elif name == 'Sammy':
    print('Hello Sammy')
else:
    print('What is your name')

Hello Frankie

### For Loops in Python

In [14]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [15]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [16]:
for jelly in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [18]:
for num in mylist:
    #check for even
    if num % 2 ==0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [19]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [21]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [23]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [24]:

for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [25]:

for blabla in 'Hello World':
    print(blabla)

H
e
l
l
o

W
o
r
l
d

In [27]:

for _ in 'Hello World':
    print("cool")

cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool

In [28]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [38]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [39]:
len(mylist)

4

In [41]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [44]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [45]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [47]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [48]:
for a,b,c in mylist:
    print(b)

2
6
9

In [51]:
d = {'k1': 1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [54]:
d = {'k1': 1,'k2':2,'k3':3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [57]:
d = {'k1': 1,'k2':2,'k3':3}

for key,values in d.items():
    print(values)

1
2
3

In [58]:
d = {'k1': 1,'k2':2,'k3':3}

for value in d.values():
    print(value)

1
2
3

### While Loops in Python

In [4]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x+=1
else:
    print("X is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

In [5]:
x = [1,2,3]

for item in x:
    #comment

SyntaxError: unexpected EOF while parsing (<ipython-input-5-65d3ea889e56>, line 5)

In [6]:
x = [1,2,3]

for item in x:
    #comment
    pass

In [8]:
mystring = 'Sammy'

In [9]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [10]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [11]:
for letter in mystring:
    if letter == 'a':
        pass
    print(letter)

S
a
m
m
y

In [12]:
x = 0

while x < 5:
    print(x)
    x+=1

0
1
2
3
4

In [13]:
x = 0

while x < 5:
    if x==2:
        break
    print(x)
    x+=1

0
1

### Useful Operators

In [14]:
mylist = [1,2,3]

In [15]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [16]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [17]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [18]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [21]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [22]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count+=1

a
b
c
d
e

In [23]:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [25]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [27]:
mylist1 = [1,2,3]
mylist2= ['a','b','c']

In [28]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [29]:
mylist1 = [1,2,3]
mylist2= ['a','b','c']
mylist3=[100,200,300]

In [30]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [32]:
mylist1 = [1,2,3,5,6,7,8]
mylist2= ['a','b','c']
mylist3=[100,200,300]

In [33]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [34]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [35]:
'x' in[1,2,3]

False

In [36]:
'x' in ['x','y','z']

True

In [37]:
'w' in 'world'

True

In [38]:
'mykey' in {'mykey':345}

True

In [39]:
d = {'mykey':345}

345 in d.values()

True

In [40]:
d = {'mykey':345}

345 in d.keys()

False

In [41]:
mylist = [10,20,30,40,100]

In [42]:
min(mylist)

10

In [43]:
max(mylist)

100

In [44]:
from random import shuffle

In [45]:
mylist = [1,2,3,4,5,6]

In [46]:
shuffle(mylist)

In [47]:
mylist

[6, 3, 1, 5, 2, 4]

In [48]:
random_list = shuffle(mylist)

In [49]:
random_list

In [50]:
type(random_list)

NoneType

In [51]:
from random import randint

In [52]:
randint(0,100)

53

In [53]:
randint(0,100)

92

In [54]:
mynum = randint(0,100)

In [55]:
mynum

30

In [57]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [59]:
result = input('What is your name? ')

What is your name? Kaique

In [61]:
result

'Kaique'

In [63]:
result = input('Pick a number ')

Pick a number 50

In [65]:
result

'50'

In [66]:
type(result)

str